.current_channels {
    border: none;
    box-shadow: none;
}

.area_add_edit_item_desc {
    width: 100%;
    min-height: 200px;
}

.btn_add_new_item {
    z-index: 10;
    position: relative;
}

#page_datatable_wrapper {
    overflow: hidden;
}

#page_datatable_wrapper th {}

#page_datatable_wrapper td {
    font-size: 14px;
}

textarea {
    resize: none;
}

.txt_add_edit_item_des {
    min-height: 150px;
}

.appname_group {
    display: none;
}

.share_group {
    display: none;
}

.form_datetime .input-group-btn {
    background-color: lightgrey;
}