table.dataTable.no-footer {
    border-bottom: 1px solid #e7ecf1 !important;
}

#page_datatable_wrapper .inactive_status {
    color: red;
}

#page_datatable_wrapper .active_status {
    color: green;
}

#page_datatable_wrapper th {
    padding-left: 10px;
}

.datatable_paging {
    width: 100%;
    overflow: hidden;
}

.cke_dialog{
	z-index: 20002 !important;
}

.cke_editor_des_dialog {
	z-index: 20001 !important;
}

.cke_dialog_background_cover{
	z-index: 20000 !important;
}
.datatable_paging .datatable_paging_number {
    float: left;
    padding: 5px;
    display: block;
    cursor: pointer;
    background: lightgray;
    margin: 5px;
}

.datatable_paging .datatable_paging_number_active {
    float: left;
    padding: 5px;
    display: block;
    background: gray;
    margin: 5px;
    color: white;
}

.datatable_paging .paging_truncate {
    float: left;
    padding: 5px;
    display: block;
    background: none;
    margin: 5px;
}

.tag {
    white-space: pre;
}

#page_datatable .btn_delete_item {
    display: block;
    margin-right: 10px !important;
    color: red;
    float: left;
}

#page_datatable .btn_view_code {
	display: block;
	margin-right: 10px !important;
	color: green;
	float: left;
}

#page_datatable .btn_edit_item {
    margin-right: 10px;
    display: block;
    float: left;
}

.search_wrap {
    float: left;
    line-height: 28px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn_add_new_item {
		float: left;
}

.loading_icon {
    z-index: 10052;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    display: none;
    padding: 0;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.modal.fade.in {
    margin-top: 0!important;
    top: 10px !important;
}

.loading_table {
    width: 100%;
    height: 100%;
    display: table;
}

.select2-container--bootstrap .select2-dropdown {
    z-index: 20000!important;
}

.input-group {
    float: left;
    max-width: 320px!important;
    margin: 5px;
}

.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    font-size: 20px !important;
    line-height: 40px !important;
}

.loading_icon_inside {
    z-index: 90000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
}