.current_channels {
    border: none;
    box-shadow: none;
}

.modal.fade.in {}

.area_add_edit_item_desc {
    width: 100%;
    min-height: 200px;
}

.btn_add_new_item {
    z-index: 10;
    position: relative;
}

#page_datatable_wrapper {
    margin-top: 0px;
}

#page_datatable_wrapper th {}

#page_datatable_wrapper td {}

.input-daterange {
    float: left;
    margin: 0 5px;
}

.search_input {
    float: left;
}

.input-group {
    float: left;
    max-width: 320px !important;
    margin: 5px;
}