<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <% include ../partials/head_of_head %>
    <!--PLUGIN STYLES-->
    <link href="../assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css"/>
    <!--CUSTOM STYLE-->
    <link href="../stylesheets/splay_articles.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
<% include ../partials/header %>
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include ../partials/side_bar %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <% include ../partials/page_title %>
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="./">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">shop item</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="search_wrap">
                        <div class="input-group">
                            <button class="btn sbold green btn_add_new_item"> Add New
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="input-group">
                            <input type="text" class="search_input"/>
                        </div>
                        <div class="input-group">
                            <button class="search_submit btn btn-success">Apply</button>
                            <button class="search_clear btn" style="margin-left:10px;">Clear</button>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                          id="page_datatable"></table>
                    <div class="datatable_paging"></div>
                </div>

                <!--confirm modal-->
                <div id="modal_confirm" class="modal fade modal-sm" tabindex="-1" data-width="420">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green btn_confirm_yes">Yes</button>
                        <button type="button" data-dismiss="modal" class="btn btn-outline dark">No</button>
                    </div>
                </div>

                <!--modal add edit-->
                <div id="modal_add_edit" class="modal fade modal-scroll" tabindex="-1" data-width="70%">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Create New Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div id="add_giftcode_form" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Title</label>
                                        <div class="col-md-6">
                                            <input type="text" class="txt_add_edit_item_name form-control" name="name"
                                                   placeholder="Title">
                                            <p class="help-block">Tiêu đề</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <form id="form_upload_icon" enctype="multipart/form-data">
                                            <label class="col-md-3 control-label">Thumb image Upload</label>
                                            <div class="col-md-4">
                                                <input type="file" name="file"
                                                       class="txt_add_edit_item_upload form-control"/>
                                                <p class="help-block">Thumb image</p>
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button"
                                                        class="btn btn-outline blue btn_modal_upload_icon">Upload
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Thumb image</label>
                                        <div class="col-md-9">
                                            <div class="image_item_icon"></div>
                                        </div>
																		</div>
																		<div class="form-group">
                                        <label class="col-md-3 control-label">Source</label>
                                        <div class="col-md-6">
                                            <input type="text" class="txt_add_edit_item_url_source form-control" name="url_source"
                                                   placeholder="URL source">
                                            <p class="help-block">Nguồn</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Game</label>
                                        <div class="col-md-6">
                                            <select id="single_select_game" class="form-control select2">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Content</label>
                                        <div class="col-md-9">
                                            <textarea id="des" name="des"
                                                      class="txt_add_edit_item_des form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Publisher</label>
                                        <div class="col-md-6">
                                            <input type="text" class="txt_add_edit_item_publisher form-control" name="publisher"
                                                   placeholder="Nhà phát hành">
                                            <p class="help-block">Nhà phát hành</p>
                                        </div>
																		</div>
																		<div class="form-group">
                                        <label class="col-md-3 control-label">Author</label>
                                        <div class="col-md-6">
                                            <input type="text" class="txt_add_edit_item_author form-control" name="author"
                                                   placeholder="Tác giả">
                                            <p class="help-block">Tác giả</p>
                                        </div>
																		</div>
																		<div class="form-group">
                                        <label class="col-md-3 control-label">Type</label>
                                        <div class="col-md-6">
                                            <select id="single_select_type" class="form-control select2 select_normal">
                                                <option value="news">Tin tức</option>
																								<option value="event">Sự kiện</option>
																						</select>
                                            <p class="help-block">Kiểu tin tức</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-4">
                                            <select name="status"
                                                    class="bs-select form-control input-small select_status"
                                                    data-style=" btn-success">
                                                <option value="active">Active</option>
                                                <option value="inactive">Inactive</option>
                                            </select>
                                            <input type="hidden" name="status" value="active"
                                                   class="hidden_item_status"/>
                                            <p class="help-block">Trạng thái (ẩn/hiện trên client)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                        <button type="button" class="btn green btn_modal_save_new">Add</button>
                        <button type="button" class="btn green btn_modal_save_update">Save Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<% include ../partials/foot_of_foot %>
<!--PLUGIN SCRIPTS-->
<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
        type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
        type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<!--CUSTOM SCRIPTS-->
<script src="../javascripts/splay_articles.min.js" type="text/javascript"></script>
<!-- PAGE SCRIPTS -->
</body>

</html>